.wrap {
	text-align: center;
	background-color: #fff;
	padding: 24px;
	overflow-y: auto;

	.swiper {
		max-width: 312px;
	}

	.swiper-slide {
		margin-bottom: 14px;

		&::before {
			content: "";
			display: inline-block;
			width: 160px;
			height: 160px;
			margin-top: 48px;
		}

		&:nth-child(1)::before {
			background: url('../img/img-login-01.png') no-repeat center;
		}

		&:nth-child(2)::before {
			background: url('../img/img-login-02.png') no-repeat center;
		}
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
		margin-top: 23px;
	}

	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		color: #555;
		margin-top: 9px;
	}

	.login_com a {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 312px;
		height: 48px;
		font-size: 16px;
		color: #382529;
		border-radius: 100px;
		margin: 0 auto 12px;

		&::before {
			content: "";
			position: absolute;
			top: 15px;
			left: 24px;
			width: 18px;
			height: 18px;
		}

		&.naver {
			color: #fff;
			background-color: #17ce5f;

			&::before {
				background: url('../img/ico-naver.png') no-repeat center;
			}
		}

		&.kakao {
			background-color: #ffe600;

			&::before {
				background: url('../img/ico-kakao2.png') no-repeat center;
			}
		}

		&.google {
			background-color: #eee;

			&::before {
				background: url('../img/ico-google.png') no-repeat center;
			}
		}
	}

	.no_ri {
		font-size: 12px;
		color: #382529;
	}
}

/* pagination-wrap 공통 */
.pagination-wrap {
	margin-bottom: 11px;

	.swiper-pagination {
		position: relative;

		.swiper-pagination-bullet {
			width: 6px;
			height: 6px;
			background-color: #ddd;
			opacity: 1;
			margin: 0 2px !important;
		}

		.swiper-pagination-bullet-active {
			width: 12px;
			height: 6px;
			border-radius: 4px;
			background-color: #aaa;
			opacity: 1;
		}
	}
}