.wrap {
	background-color: #fff;
}

header {
	background-color: #fff;

	h2 {
		font-size: 18px;
		font-weight: 500;
		margin-left: 14px;
	}
}

/* bg */
.bg {

	.bubble {
		left: 0;
		width: 160px;
		height: 77px;
		margin-top: 32px;

		h3 {
			font-size: 16px;
			text-align: center;
			line-height: 1.38;
		}

		&::after {
			width: 160px;
			height: 86px;
			background: url('../img/img-textbox.png') no-repeat center;
		}
	}
}

.wing {
	padding-bottom: 75px;

	/* product_select */
	.search {
		margin: 0 0 22px 0;

		input {
			border: 1px solid #eee;
			background-color: #fff;
		}
	}

	.product_info_wrap {
		button {
			color: #fff;
			border-radius: 18px;
			background-color: #f53b3b;
			padding: 8px 14px;

			&:hover {
				filter: brightness(1.1);
			}
		}
	}

	/* product_details */
	.details_box {
		display: block !important;

		.model_number {
			margin-top: 12px;
		}

		hr {
			width: 100%;
			height: 1px;
			background-color: #f7f7f7;
			border: 0;
			margin: 12px 0 16px;
		}
	}

	.product_details {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 5px;
		row-gap: 30px;

		li {
			flex: 1;
			min-width: 32%;
			font-size: 14px;
			text-align: center;

			div {
				font-weight: 500;
				margin-bottom: 8px;
			}

			p {
				color: #555;
			}
		}
	}

	.add_details {
		list-style: initial;
		font-size: 13px;
		line-height: 1.54;
		color: #202020;
		margin-left: 16px;

		li:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.details_btn {
		width: 100%;
		font-size: 16px;
		color: #fff;
		border-radius: 24px;
		background-color: #f53b3b;
		box-shadow: 0 2px 4px 0 rgba(245, 59, 59, 0.4);
		padding: 12px;
		margin-top: 40px;

		&:hover {
			filter: brightness(1.1);
		}
	}
}